<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Clinical Report</title>
</head>
<body>
    <h1>Patient Clinical Report:</h1>
    <table border="2">
        <thead>
            <th>Component Name</th>
            <th>Component Value</th>
            <th>Measured on Date</th>
        </thead>
        {% for value in data %}
        <tr>
            <td>{{ value.component_name }}</td>
            <td>{{ value.component_value }}</td>
            <td>{{ value.measured_date_time }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">Home</a>
</body>
</html>